html {
    height: 100%;
    background: 
        no-repeat
        center
        center
        fixed;
        
    overflow: scroll;
    background-image: url("../imgs/background.png");
}

body {
    font-size: 2vw;
}

/* This defines the accoridon button */
button.accordion {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 5px 20px;
    font-size: 20px;
    color: rgb(0,0,0);
    cursor: pointer;
    transition: background-color 0.2s linear;
}

/* Actions taken when the button is hovered over */
button.accordion:hover {
    background-color: rgb(160, 164, 167);
}

/* The properties of the HTML inside the expanded text section of the accordion. */
.accordion-content {
    width: 100%;
    padding: 0px 5px;
    border-left: 1px solid rgb(160, 164, 167);
    border-right: 1px solid rgb(160, 164, 167);
    max-height: 0;
    overflow: hidden;
    
    transition: width 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out;   
}

.tab{
    background-color:#25292c;
    padding-top: 1%;
/*
    min-width: 800px; /* Minimum width of your wrapper element */
  
    overflow: hidden;
    display: flex;/*????*/ 
    border-bottom:2px solid rgb(0,0,0);padding-bottom:1px; 
    justify-content: center;
}
/*needed for hide and show*/
.tab_content {
	display: none;	
    color: white; /*temp font color*/

    position: fixed;

    margin-left: 10%;
    background: rgba(68,71,74,0.9);
    padding: 10px;
    width: 80%;
    height:100%;
    border-radius: 15px;
    overflow-y: scroll;
}

.tab_button {
    color: #f8f8f8;
    bottom: 0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 5px 8px;
    padding-bottom: 0px;
    font-size: 1.5em
}



#hide_name {
    color:#f8f8f8;
}
#top_corner_img {
    position: relative;
}
#top_corner_img img {
    position: absolute;
    top: 0px;
    right: 0px;
}


#bottom_corner_img {
    position: relative;
}
#bottom_corner_img img {
    position: fixed;
    bottom:0px;
    left: 0px;
    z-index: -3;
}



.tab .icon {
    display: none;
}


@media screen and (max-width: 600px) {
  .tab button:not(:first-child) {display: none;}
  .tab a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .tab.responsive {position: relative;}
  .tab.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .tab.responsive button {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    float: left;
    }

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none;      /* Hidden by default */
    position: fixed;    /* Stay in place */
    z-index: 1;         /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;        /* Full width */
    height: 100%;       /* Full height */
    overflow: scroll;   /* Enable scroll if needed */
    background-color: rgb(0,0,0);      /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
/* .close {
    z-index: 0;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #d30000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
} */

/* .close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
} */

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}