html{
	background: url('Homepage.svg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.block_row1{
	position: absolute;
	/*width: 75%;
	height: auto;*/
	left: 15%;
	top: 70%;
}

.block_row2{
	position: absolute;
	/*width: 75%;
	height: auto;*/
	left: 40%;
	top: 80%;
}

.button{
	float: left;
	font-family: Encode Sans Condensed;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 100%;
	text-align: center;
	font-vertical-align: top;
	display: inline-block;
	cursor: pointer;
	padding: 14px 20px;
	width: 20%;
	transition: all 0.5s;
	margin: 5px;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0,0,0,0);	

	font-color: #7E6FE2;
	background-color: white;

	border-radius: 12px;
	border: none;

	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s
}

.button span{
	cursor: pointer;
	display: inline-block;
	position: sticky;
	font-size: 80%;
	text-align: center;
	transition: 0.5s;
	opacity: 0;
}

.button span:after{
	content: '\00bb';
	position: static;
	text-align: center;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button:hover span {
	padding-top: 20px;
	white-space: normal;
	position: static;
	opacity: 1;
}


body, html{
	height: 100%;
	margin: 0;
}
