.linline {
    width: 720px;
    float: left;
    display: block;
}

.hiddenrel {
    overflow: hidden;
    position: relative;
}

.translation {
    width: 1600%;
    transition-duration: 0.6s;
    transform: translate3d(-4320px, 0px, 0px);
}

.marginh1 {
    margin-top: -50px;
    margin-bottom: 50px;
    color: #fff;
}

.h1shaddow {
    font-size: 100px;
    letter-spacing: 20px;
    text-shadow: 5px;
}

.top48 {
    top: 34px;
}

.headerStyle {
    border-bottom: none;
    padding: 0px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}