.linline {
    width: 720px;
    float: left;
    display: block;
}

.hiddenrel {
    overflow: hidden;
    position: relative;
}

.translation {
    width: 1600%;
    transition-duration: 0.6s;
    transform: translate3d(-4320px, 0px, 0px);
}

.marginh1 {
    margin-top: -50px;
    margin-bottom: 50px;
    color: #fff;
}

.font60 {
    font-size: 60px;
}

.h1shaddow {
    font-size: 100px;
    letter-spacing: 20px;
}

.headerStyle {
    border-bottom: none;
    padding: 0px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imageCentered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 10%;
}

.learn-more {
    font-size: 13px     !important;
    border: solid 2px   !important;
    border-radius: 40px !important;
    display: inline-block   !important;
    text-transform: uppercase   !important;
    padding: 15px 40px  !important;
    font-weight: 400    !important;
    line-height: 1.42857143 !important;
    text-align: center  !important;
    white-space: nowrap !important;
    vertical-align: middle  !important;
}

.author {
    margin-bottom: 100px;
}

.managementClass {
    padding: 120px 0px 20px 0 !important;
}

.feature-list > p {
    font-size: 15px !important;
}

.primary-nav > li {
    padding-left: 4px;
}